.header {
    background-color: #e9d8f4;
    color: #58257b;
    text-align: center;
    padding: 20px;
}
.Infobook {
    width: 700px;
    text-align: left;
    border-collapse: collapse;
    padding-left: 5px;
}

.TomtatBook {
    text-align: left;
    padding-left: 100px;
    padding-right: 400px;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.254em;
    margin: 0;
    padding: 0;
    background-image: url("pic/gif-raingif.gif");
}
a:hover,
a:visited {
    color: red;
}
a {
    color: inherit;
    text-decoration: inherit;
}